<% if current_user?(@user) %>
  <div id="user_form">
    <% if User.find(current_user.id).user_type == "s" %>
      <%= render 'stylist' %>
    <% else %>
      <%= render 'user' %>
    <% end %>  
  </div>
<% end %>

