<div class="container main-page">
  <h1>フォロワー</h1><hr>
    <% if @user.followers.empty? %>
      <div class="comment">No follower</div>
    <% else %>
      <% @user.followers.each do |user| %>
        <div class="followers-index-item">
          <div class="user-name">
              <%= user.first_name %> <%= user.last_name %>
              <%= link_to '詳細', user_path(user) %>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>
</div>
