<div class="container main-page">
  <h1>フォロー中</h1><hr>
    <% if @user.followings.empty? %>
      <div class="comment">No follow</div>
    <% else %>
      <% @user.followings.each do |user| %>
        <div class="followings-index-item">
          <div class="user-name">
            <%= user.first_name %> <%= user.last_name %>
            <%= link_to '詳細', user_path(user) %>
          </div>
          <hr>
        </div>
      <% end %>
    <% end %>
</div>

