<!--<div class="header-image">-->
<!--<h1 class="text-center header-content" ><storong>stylelab</storong></h1>-->
<div class="jumbotron">
  <div class="container">
  <!--<h1 class="display-4">stylelab</h1>-->
  <h1 class="text-center header-content"><storong>stylelab</storong></h1>
    <p class="text-center header-message"><span style="background-color:black">このアプリは美容師さんとチャットを通じて繋がれるアプリです<br>
    お気に入りの美容師さんを見つけちゃおう♪</span></p>
    <!--</div>-->
    <!--<br>-->
    <a href="/users/sign_up" class="btn btn-default">登録する</a>
    <p class="header-message">観覧のみの方は<a href="/posts" class="btn btn-link btn-lg">こちら</a></p>
  </div>
</div>