<div class="img-top">
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center header-content"><storong>stylelab</storong></h1>
        <p class="text-center header-message"><%= fa_icon("cut") %>このアプリは美容師さんとチャットを通じて繋がれるアプリです<%= fa_icon("cut") %><br>
                                                お気に入りの美容師さんを見つけちゃおう♪</p>
      <% if current_user == nil %>
        <p class="text-center botton"><a href="/users/sign_up" class="btn btn-info btn-lg ">sign_up</a></a></p>
      <% end %>
    </div>
  </div>
</div>