<!--<div class="header-image">-->
<!--<h1 class="text-center header-content" ><storong>stylelab</storong></h1>-->
<div class="jumbotron">
  <div class="container">
  <!--<h1 class="display-3">stylelab</h1>-->
  <h1 class="text-center header-content"><storong>stylelab</storong></h1>
    <p class="text-center header-message">このアプリは美容師さんとチャットを通じて繋がれるアプリです<br>
    お気に入りの美容師さんを見つけちゃおう♪</p>
    <!--</div>-->
    <!--<br>-->
    <p class="header-message"><a href="/users/sign_up" class="btn btn-info btn-lg ">sign_up</a></a></p>
  </div>
</div>