.main-page {
  margin-top: 50px;
}

.my-form {
  width: 500px;
}

.my-select-form {
  width: 500px;
}

.like-btn {
  color: #8899a6;
  font-size:30px;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 40px;
  margin-left: 10px;
}

.post-icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid gray;
}

.post-icon h2 {
  font-weight: bold;
}

.post-icon span {
  font-size: 24px;
  padding-left: 10px;
}

.post-img {
  display: inline-flex;
  // justify-content: space-around;
  margin: 10px;
  padding: 10px;
  overflow: auto;
  // overflow-x: scroll;
  width: 1200px;
  height: 300px;
}

.image {
  margin-right: 30px;
}

.posts-show-item p {
  font-weight: bold;
}

.posts-title h1 {
  font-weight: bold;
}