.main-page {
  margin-top: 50px;
}

.my-form {
  width: 500px;
}

.my-select-form {
  width: 500px;
}

.like-btn {
  color: #8899a6;
  font-size:30px;
}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 40px;
  margin-left: 10px;
}
