// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show page

.main-page a {
  text-decoration: none;
}

// index page

h1 {
  font-weight: bold;
}

.room-icon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid gray;
}

.room-icon span {
  font-size: 24px;
  padding-left:10px;
}

.room-icon span a {
  vertical-align: middle;
  text-decoration: none;
}

.comment {
  font-size: 20px;
}

@media (max-width: 600px) {
  .col-lg-3.text-center {
    margin-bottom: 10px;
  }
  
  .container.main-page {
    margin-top: 0;
  }
  
}