.header-content {
  color: black;
  font-size: 150px;
  padding-top: 100px;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Caveat Brush', cursive;
}

.header-message {
  font-size: 27px;
  padding-top: 40px;
  color: blue;
}

.img-top {
  background: url(header16.jpg);
  background-position: center center;
  center: no-repeat; 
  background-size: cover;
  height: 680px;
  width: auto;
}

.botton {
  padding: 100px;
}
