.header-content {
  color: black;
  font-size: 200px;
  padding-top: 100px;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Caveat Brush', cursive;
}

.header-message {
  font-size: 27px;
  padding-top: 40px;
  color: white;
  font-weight: bold;
}

.img-top {
  background: url(header17.jpg);
  background-position: center center;
  center: no-repeat; 
  background-size: cover;
  height: 680px;
  // width: auto;
}

.botton {
  padding: 100px;
}

.container-fluid {
  width: 100%;
}