// .header-image{
//   background-image: url(/assets/header16.jpg);
//   height:500px;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
// }

.jumbotron .header-content {
  color: black;
  font-size: 150px;
  padding-top: 70px;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Caveat Brush', cursive;
}

.header-message {
  font-size: 25px;
  padding-top: 40px;
  color: blue;
}

.jumbotron {
  background: url(header16.jpg);
  background-position: center 40%;
  // center: no-repeat; 
  background-size: cover;
  height: 600px;
}
